<div class="text-center">
    <h1 class="mt-4 title">Dashboard</h1>
    <p class="lead mb-3 dashText">Welcome <%= name %></p>
    <img src="/images/dog2.png" class="img-fluid rounded mx-auto d-block border border-5 border-primary"/>
    <p class="lead mb-3 mt-3 dashText">Technical support is currently unavailable right now.
         <br> You can reach our hotline on <em>{Resource Not Available}</em>...</p>
         <blockquote class="tc">Calls cost 55p/sec. Terms &amp; Conditions Apply.</blockquote>
    <a href="/users/logout" class="btn btn-secondary mt-3 loginBtn">Logout</a>
</div>

